@use "./sections/hero.scss";
@use "./sections/timeline.scss";
@use "./sections/portfolio.scss";
@use "./sections/contact.scss";

h1 {
  font-size: 36px;
  margin-top: 0;
  margin-bottom: $spacing-md;

  @media (min-width: $screen-sm) {
    font-size: 60px;
  }
}

h2 {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: $spacing-md;
  text-align: center;

  @media (min-width: $screen-sm) {
    font-size: 36px;
  }

  @media (min-width: $screen-md) {
    text-align: left;
  }
}

p {
  font-size: $font-xl;
  margin-top: 0;
  margin-bottom: $spacing-md;
  line-height: 1.4;
}

.notification {
  color: $gray;
  background: #222;
  border: solid 1px $gray-dark;
  padding: $spacing-lg $spacing-xl;
  font-size: $font-md;
}
