@import "../../styles/variables.scss";

.button {
  display: inline-block;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: $font-bold;
  padding: $spacing-lg $spacing-xl;
  letter-spacing: 0.5px;
  margin: $spacing-xl 0;
  text-decoration: none;
  transition: 300ms;
  text-shadow: none;
  border: none;
  @include shadow-sm();

  &--primary {
    color: $gray-dark;
    background: white;

    &:hover {
      color: white;
      background: $gray-dark;
      transform: translateY(-5px);
      @include shadow-md();
    }
  }

  &--secondary {
    background: $gray-dark;
    color: white;
    font-size: $font-md;
    letter-spacing: 1px;
    padding: $spacing-lg $spacing-xl + 12;
    margin: $spacing-md 0;

    &:hover {
      background: white;
      color: $gray-dark;
      transform: translateY(-5px);
      @include shadow-md();
    }
  }

  &--form {
    box-shadow: none;
    background: $gray-dark;
    color: white;
    padding: $spacing-lg $spacing-xl + 12;
  }
}
