$gray-dark: #333;
$gray-medium: #666;
$gray: #999;
$gray-light: #ccc;
$gray-lightest: #fafafa;

$white-50: rgba(255, 255, 255, 0.5);

$mt: #007d52;
$esl: #ffec00;
$cw: #ef7300;
$sync: #ac020c;
$ub: #005bbb;
