@import '../../styles/variables.scss';

.timeline {
  background-image: url(../../images/resume-background.png);
  background-size: cover;
  min-height: 500px;
  color: white;

  &__jobs {
    display: flex;
    margin: 30px 0;
    flex-wrap: wrap;
    justify-content: space-evenly;

    @media (min-width: $screen-lg) {
      margin: 30px -120px;
    }
  }
}
