@import "../../styles/variables.scss";

.timeline {
  background-image: url("../images/resume-background.jpg");
  background-size: cover;
  min-height: 500px;
  color: white;
  text-align: center;

  @media (min-width: $screen-sm) {
    text-align: left;
  }

  &__jobs {
    display: flex;
    margin: 30px 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;

    @media (min-width: $screen-lg) {
      margin: 30px 0;
    }

    @media (min-width: $screen-xl) {
      margin: 30px -115px;
    }
  }

  &__resume {
    display: flex;
    justify-content: center;

    @media (min-width: $screen-md) {
      justify-content: flex-end;
    }
  }
}
