@import '../../styles/variables.scss';

.job-card {
  height: 320px;
  background-color: #007D52;
  background: repeating-linear-gradient(45deg,
      #007D52,
      #007D52 4px,
      #007D52 4px,
      darken(#007D52, 10%) 6px);
  max-width: 230px;
  border-radius: 4px;
  @include shadow-md;

  &__header {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: $font-bold;
    padding: $spacing-lg;
    text-align: center;
    background: rgba(0, 0, 0, .25);
  }
}
