@import '../../styles/variables.scss';

@mixin background($color) {
  background: repeating-linear-gradient(45deg,
      $color,
      $color 4px,
      $color 4px,
      darken($color, 3%) 6px);
}

.job-card {
  height: 320px;
  border-radius: 4px;
  margin: 0 $spacing-md;
  flex: 1 0 230px;
  @include shadow-md;

  &__header {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: $font-bold;
    padding: $spacing-lg;
    text-align: center;
    background: rgba(0, 0, 0, .25);
  }

  &__body {
    text-align: center;
    padding: $spacing-lg $spacing-xl+10;
  }

  &__logo {
    margin: 50px 0;
    display: flex;
    justify-content: center;

    img {
      max-height: 40px;
    }
  }

  &__title {
    font-size: $font-lg;
    font-weight: $font-bold;
    margin-bottom: $spacing-sm;
  }

  &__time {
    color: $white-50;
    font-size: $font-md;
    margin-bottom: 40px;
  }

  &__more {
    opacity: .5;
  }

  &--mt {
    @include background($mt);
  }

  &--esl {
    @include background($esl);
    color: black;
  }

  &--cw {
    @include background($cw);
  }

  &--sync {
    @include background($sync);
  }

  &--ub {
    @include background($ub);
  }
}
