@import '../../styles/variables.scss';

.job-card {
  height: 320px;
  background: green;
  max-width: 230px;
  border-radius: 4px;

  &__header {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: $font-bold;
    padding: $spacing-lg;
    text-align: center;
  }
}
