@import '../../styles/variables.scss';

$_avatar-size: 125px;

.profile-card {
  position: relative;
  z-index: 1;
  min-width: 320px;
  background: white;

  &__header {
    &-image {
      height: $_avatar-size;
      width: $_avatar-size;
      border-radius: 50%;
      object-fit: cover;
      border: solid 5px $gray-light;

      img {
        width: 100%;
        border-radius: 50%;
      }
    }
  }
}
