@import "../../styles/variables.scss";

.portfolio {
  min-height: 600px;
  background-image: url("../../images/portfolio-background.png");
  background-size: cover;
  color: white;

  &__projects {
    display: flex;
    margin: 0 -40px;
  }
}
