@import "../../styles/variables.scss";

.portfolio {
  min-height: 600px;
  background-image: url("../../images/portfolio-background.png");
  background-size: rep;
  color: white;

  &__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 0;

    @media (min-width: $screen-lg) {
      margin: 40px -115px;
    }
  }
}
