@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "../../styles/variables.scss";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: "Roboto";
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 24px;

  @media (min-width: $screen-md) {
    padding: 40px;
    flex-direction: row;
  }

  @media (min-width: $screen-lg) {
    padding: 80px;
  }
}
.footer {
  background: $gray-lightest;
  padding: $spacing-xl;
  font-size: $font-sm;
  color: $gray;
  text-align: center;
}
