@import "../../styles/variables.scss";

.nav {
  display: flex;
  justify-content: center;
  padding: $spacing-lg;

  &__links {
    list-style-type: none;
    display: flex;
    padding: 0;
  }

  &__item {
    margin: 0 $spacing-xs;
  }

  &__link {
    padding: $spacing-md + 4;
    text-decoration: none;
    color: $gray-dark;
    font-size: $font-md;
    font-weight: $font-semibold;
    border-radius: 50px;
    transition: 300ms;

    @media (min-width: $screen-sm) {
      padding: $spacing-md + 2 $spacing-lg;
    }

    &:hover,
    &.active {
      background: $gray-dark;
      color: white;
    }
  }

  &--sticky {
    position: fixed;
    top: 0;
    z-index: 3;
  }
}
